@model TicketInformation

@{
	ViewBag.Title = "Tickets";
}



<h2 class="m-5"></h2>



<div class="row flex-row flex-nowrap">

	@foreach (var ticketInfo in Model.ticketsByStatus)
	{

		<div class="col-4">

			<h4 class="fw-bold">@ticketInfo.Value</h4>


			@foreach(var ticket in ticketInfo.Value)
			{
				
				<div class="border-2 rounded-3">

					<h5> @ticket.TicketID : @ticket.TicketName </h5>



				</div>


			}


		</div>


	}

</div>

