

input, textarea{
    border: 1px solid #000000 !important;
}

table#users th {
   margin: 20px;
   text-align:left;
}

#my_user_details ul {
    list-style: none;
    display: table;
    line-height: 50px;
}

li {
    display: table-row;
}


b {
    display: table-cell;
    padding-right: 1em;
}


div.ticketParams {
    margin-top: 4rem;
}

table#UserList td {
    vertical-align: middle;
}

table#UserList h4 {
    margin: 2rem 0rem 1rem;
}


form#CreateTicketForm input{
    margin-bottom: 2rem;
}

tr#Tickets td {
    vertical-align: middle;
    padding-top: 18px;
    padding-bottom: 18px;
}

body:has(.requires-no-scroll) {
    overflow: hidden;
}