

<div class="d-flex flex-column text-center" style="margin-top: 40vh;">


	<h2>REGISTRATION SUCCEEDED</h2>
	<br />
	<h3>Before you can login, your account must be manually registered by an administrator.</h3>
	<br />
	<h3>Please wait since this can take a while</h3>
	<br />
	<br />

	<a class="btn btn-primary" style="width:5vw;" asp-controller="Home" asp-action="Dashboard">Back to login</a>

</div>